body,
html {
    width: 100%;
    height: 100%;
}

.home {
    /* The image used */
    background-image: url("https://res.cloudinary.com/diad1aa5z/image/upload/v1581994760/brooke-lark-08bOYnH_r_E-unsplash_qsawmi.jpg");

    /* Full height and width */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.title {
    margin: 0%;
    padding-top: 15%;
    font-size: 12rem;
    color: #492634;
    font-weight: 900;
}

h1 {
    color: #492634;
    font-size: 6rem;
}

.btnbox {
    bottom: 0;
    padding-bottom: 100px;
    position: absolute;
}


.btn-large {
    font-size: 3.5rem;
    margin: 8px;
}

p {
    font-size: 20px;
}



@media only screen and (max-width: 768px) {
    .title {
        font-size: 5rem;
        margin: 0%;
        padding-top: 100px;
        padding-right: 5%;
    }

    .btn-large {
        font-size: 3.5rem;
        margin: 5px;
    }

    .home {
        width: 100%;
        background-position: 32%, 0%;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 3rem;
        margin: 0%;
        padding-top: 150px;
    }

    .btn-large {
        font-size: 2rem;
        margin: 5px;
    }

    .home {
        width: 100%;
        background-position: 32%, 0%;
    }
}

@media only screen and (max-width: 350px) {
    .title {
        font-size: 2.5rem;
        margin: 0%;
        padding-top: 150px;
    }

    .btn-large {
        font-size: 2rem;
        margin: 5px;
    }

    .home {
        width: 100%;
        background-position: 32%, 0%;
    }
}