.nav-link{
    color:white !important;
    font-size: 18px !important;
}

.dropdown-trigger{
    font-size: 18px !important;
    color:white !important;
}

.nav-link1{
    font-size: 18px !important;
    font-weight: bold;
}

.material-icons{
    color:white !important;

}